.line {
    display: flex; flex-flow: row nowrap; justify-content: center; gap: 0px 2.5px; align-items: center;
    width: 100%;
    min-height: 50px;
    margin: 5px 0px;
    position: relative;
}

.guessInput, .attributes {
    border-radius: 3px;
    width: 100px;
    height: 30px;
    display: flex; justify-content: center; align-items: center; flex-flow: column nowrap;
    position: relative;
    font-size: 0.6em;
}

.attributes {
    border: 1px solid black; border-radius: 1.5px;
}

.no-border {
    border: none;
}

.types {
    display: flex; gap: 5px; flex-flow: column nowrap;
}

.guessInput p {
    z-index: 4;
    font-size: 1.3em;
    color: white;
}

.arrow, .arrow2 {
    position: absolute;
}

.arrow {
    height: 20px;
    width: 23px;
    transform: scale(2);
}
.arrow2 {
    height: 15px;
    width: 20px;
    transform: scale(2);
}

.pokeImg {
    height: 80px; width: 80px;
}

@media only screen and (max-width: 800px) {
    .line p {
        font-size: 1.1em;
    }
}

