@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    position: relative;
    background-color: #485157;
}

a {
    all: unset;
    cursor: pointer;
}